@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-primary: #1a1a1a;
  --color-secondary: #2d2d2d;
  --color-text: #ffffff;
  --color-text-muted: #a0a0a0;
  --color-accent: #3b82f6;
}

body {
  background-color: var(--color-primary);
  color: var(--color-text);
}
